# Test you components individually here

In [1]:
from backend.data_handler import DataHandler
import pandas as pd

In [2]:
dh = DataHandler("../csv", "./config.json")

Reading Files: 100%|██████████| 6/6 [00:00<00:00, 81.31it/s]

In [3]:
dh.ecl

,Nr,Code(hex),Ticks(hex),Date,Time,SW(hex),Speed(km/h),Speed1(km/h),Speed2(km/h),Speed3(km/h),...,DEVICE_ON,V5,V45,ZERO_SPEED,WSP_FAILURE,V5_2,V30,V5_1,Condition,Description
0,1,0xA000,0x00000AAC,31/7/24,13:28:13,0x000,40,40,40,40,...,1,1,0,0,1,0,0,1,0,I_POWER_ON
1,2,0x0017,0x000057D7,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,1,0,0,1,0,AXLE1_LOCK
2,3,0x0037,0x000057E3,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,1,0,0,1,0,AXLE3_LOCK
3,4,0x0027,0x000057FB,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,0,0,0,1,0,AXLE2_LOCK
4,5,0x0047,0x000057FB,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,0,0,0,1,0,AXLE4_LOCK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,23,0xA000,0x00000A92,5/10/24,10:23:53,0x000,0,0,0,0,...,1,0,0,1,1,1,1,0,0,I_POWER_ON
255,24,0xA000,0x00000A92,5/10/24,10:35:47,0x000,0,0,0,0,...,1,0,0,1,1,1,1,0,0,I_POWER_ON
256,25,0xA000,0x00000A92,5/10/24,11:33:26,0x000,0,0,0,0,...,1,0,0,1,1,1,1,0,0,I_POWER_ON
257,26,0x0021,0x0408FB91,7/10/24,1:10:17,0x000,14,14,0,14,...,1,1,0,0,1,0,1,1,2,E_SS_SC_OC2
258,27,0x6021,0x040907B5,7/10/24,1:10:24,0x000,15,15,15,15,...,1,1,0,0,0,0,1,1,2,E_SS_SC_OC2 GONE

In [4]:
df_ecl = dh.ecl
df_ecl

,Nr,Code(hex),Ticks(hex),Date,Time,SW(hex),Speed(km/h),Speed1(km/h),Speed2(km/h),Speed3(km/h),...,DEVICE_ON,V5,V45,ZERO_SPEED,WSP_FAILURE,V5_2,V30,V5_1,Condition,Description
0,1,0xA000,0x00000AAC,31/7/24,13:28:13,0x000,40,40,40,40,...,1,1,0,0,1,0,0,1,0,I_POWER_ON
1,2,0x0017,0x000057D7,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,1,0,0,1,0,AXLE1_LOCK
2,3,0x0037,0x000057E3,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,1,0,0,1,0,AXLE3_LOCK
3,4,0x0027,0x000057FB,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,0,0,0,1,0,AXLE2_LOCK
4,5,0x0047,0x000057FB,31/7/24,13:28:53,0x000,34,0,0,0,...,1,1,0,0,0,0,0,1,0,AXLE4_LOCK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,23,0xA000,0x00000A92,5/10/24,10:23:53,0x000,0,0,0,0,...,1,0,0,1,1,1,1,0,0,I_POWER_ON
255,24,0xA000,0x00000A92,5/10/24,10:35:47,0x000,0,0,0,0,...,1,0,0,1,1,1,1,0,0,I_POWER_ON
256,25,0xA000,0x00000A92,5/10/24,11:33:26,0x000,0,0,0,0,...,1,0,0,1,1,1,1,0,0,I_POWER_ON
257,26,0x0021,0x0408FB91,7/10/24,1:10:17,0x000,14,14,0,14,...,1,1,0,0,1,0,1,1,2,E_SS_SC_OC2
258,27,0x6021,0x040907B5,7/10/24,1:10:24,0x000,15,15,15,15,...,1,1,0,0,0,0,1,1,2,E_SS_SC_OC2 GONE

In [5]:
dh.filtered_dmp

      FILL_2  VENT_2
0          0       0
1          0       0
2          0       0
3          0       0
4          0       0
...      ...     ...
2395       0       0
2396       0       0
2397       0       0
2398       0       0
2399       0       0

[2400 rows x 2 columns]

In [6]:
df2 = dh.ecl[dh.ecl['Description'] == "E_SENS_FR4"]
df2
df3 = dh.ecl_freq_summary
df3

         Description  Frequency
0   AXLE1_LOCK  GONE         11
1   AXLE2_LOCK  GONE         10
2   AXLE3_LOCK  GONE         11
3   AXLE4_LOCK  GONE         11
4   E_SS_SC_OC2 GONE         11
5    E_DV1_TOUT GONE          4
6    E_DV2_TOUT GONE          2
7    E_DV3_TOUT GONE          2
8    E_DV4_TOUT GONE          4
9    E_SENS_FR1 GONE          2
10   E_SENS_FR2 GONE          2
11     E_WSP_FAILURE          3
12      E_ZERO_SPEED          5
13       E_DEVICE_ON          6
14       E_SPEED_5_1          4
15       E_SPEED_5_2          5
16       E_SS_SC_OC2         11
17        AXLE1_LOCK         21
18        AXLE2_LOCK         18
19        AXLE3_LOCK         21
20        AXLE4_LOCK         21
21        E_DV1_TOUT          3
22        E_DV2_TOUT          1
23        E_DV3_TOUT          2
24        E_DV4_TOUT          4
25        E_SENS_FR1          4
26        E_SENS_FR2          8
27        E_SENS_FR3          2
28        E_SENS_FR4          2
29        E_SPEED_30          4
30        E_SPEED_45         10
31        I_POWER_ON         29
32         E_SPEED_5          3
33          E_DV1_SC          1
34          E_DV2_OC          1

In [7]:
for error_grp_name, df in dh.error_grps.items():
    display(error_grp_name, df)

'Axle Lock Group'

  Description  Frequency
0  AXLE1_LOCK         21
1  AXLE2_LOCK         18
2  AXLE3_LOCK         21
3  AXLE4_LOCK         21

'Speed Sensor Error'

  Description  Frequency
0  E_SENS_FR1          4
1  E_SENS_FR2          8
2  E_SENS_FR3          2
3  E_SENS_FR4          2

'Dump Valve Errors'

  Description  Frequency
0  E_DV1_TOUT          3
1  E_DV2_TOUT          1
2  E_DV3_TOUT          2
3  E_DV4_TOUT          4
4    E_DV2_OC          1

'Board Errors'

     Description  Frequency
0  E_WSP_FAILURE          3
1   E_ZERO_SPEED          5
2    E_DEVICE_ON          6
3    E_SPEED_5_1          4
4    E_SPEED_5_2          5
5     E_SPEED_30          4
6     E_SPEED_45         10
7      E_SPEED_5          3

'Power On Event'

  Description  Frequency
0  I_POWER_ON         29

In [ ]:
import tabulate
for error_grp_name, df in dh.error_grps.items():
    display(error_grp_name, df)
    dh.
# tabulate.tabulate(dh.error_grps['Axle Lock Group'])

'Axle Lock Group'

  Description  Frequency
0  AXLE1_LOCK         21
1  AXLE2_LOCK         18
2  AXLE3_LOCK         21
3  AXLE4_LOCK         21

'Speed Sensor Error'

  Description  Frequency
0  E_SENS_FR1          4
1  E_SENS_FR2          8
2  E_SENS_FR3          2
3  E_SENS_FR4          2

'Dump Valve Errors'

  Description  Frequency
0  E_DV1_TOUT          3
1  E_DV2_TOUT          1
2  E_DV3_TOUT          2
3  E_DV4_TOUT          4
4    E_DV2_OC          1

'Board Errors'

     Description  Frequency
0  E_WSP_FAILURE          3
1   E_ZERO_SPEED          5
2    E_DEVICE_ON          6
3    E_SPEED_5_1          4
4    E_SPEED_5_2          5
5     E_SPEED_30          4
6     E_SPEED_45         10
7      E_SPEED_5          3

'Power On Event'

  Description  Frequency
0  I_POWER_ON         29

In [ ]:
for table_name, df in dh.tables.items():
    display(table_name, df)

'Speed Sensor Error/Axel_Lock Indication'

                     Description  Axle 1  Axle 2  Axle 3  Axle 4
0                 Gap Error List       4       8       2       2
1  Open/Short Circuit Error list       0      11       0       0
2    Axle Locked indication list      21      18      21      21

'Dump Valve Errors'

                Description  Axle 1  Axle 2  Axle 3  Axle 4
0  Short Circuit Error List       1       0       0       0
1   Open Circuit Error List       0       1       0       0
2             Time Out list       3       1       2       4

'Power On Event'

     Description  Event Count
0  Power On List           29

'System Error'

                                Description  Event Count
0  Short circuit detected on DO WSP_FAILURE            3
1   Short circuit detected on DO ZERO_SPEED            5
2           Short circuit detected on DO V5            3
3    Short circuit detected on DO SPEED_5_1            4
4    Short circuit detected on DO SPEED_5_2            5
5          Short circuit detected on DO V30            4
6          Short circuit detected on DO V45           10
7    Short circuit detected on DO DEVICE_ON            6